{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2 class="mt-5">Status</h2>
    <table class="table table-striped mt-3">
        <thead class="thead-dark">
            <tr>
                <th>Channel</th>
                <th>Type</th>
                <th>Rate</th>
                <th>Total Messages</th>
            </tr>
        </thead>
        <tbody id="status-table-body">
            <!-- Status rows will be dynamically inserted here -->
        </tbody>
    </table>

    <div id="decoded-messages" class="mt-5">
        <!-- Decoded messages will be dynamically inserted here -->
    </div>
</div>

<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var socket = io();
        socket.on('status_update', function(status) {
            document.getElementById('status-table-body').innerHTML = generateStatusHTML(status.status);
            document.getElementById('decoded-messages').innerHTML = generateDecodedMessagesHTML(status.decoded_status);
        });

        function generateStatusHTML(status) {
            let html = '';
            status.forEach(function(item) {
                html += `<tr>
                    <td>${item.channel}</td>
                    <td>${item.type}</td>
                    <td>${item.rate.toFixed(2)}</td>
                    <td>${item.total_messages}</td>
                </tr>`;
            });
            return html;
        }

        function generateDecodedMessagesHTML(decoded_status) {
            let html = '';
            decoded_status.forEach(function(decoded) {
                html += `<div class="card mb-3">
                            <div class="card-header">
                                ${decoded.channel}
                            </div>
                            <div class="card-body">`;
                decoded.decoded_message.forEach(function(line) {
                    html += `<pre>${line}</pre>`;
                });
                html += `  </div>
                         </div>`;
            });
            return html;
        }
    });
</script>
{% endblock %}
